<!DOCTYPE html>
<html lang="en" class="no-js">
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>Web Security</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        <!-- GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/services.css" rel="stylesheet" type="text/css"/>

        <!-- PAGE LEVEL PLUGIN STYLES -->
        <link href="css/animate.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>

        <!-- THEME STYLES -->
        <link href="css/layout.min.css" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <!-- END HEAD -->

    <!-- BODY -->
    <body>

        <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                            <a class="logo-wrap" href="/">
                                <!--<img class="logo-img logo-img-main" src="img/logo.png" alt="Asentus Logo">
                                <img class="logo-img logo-img-active" src="img/logo-dark.png" alt="Asentus Logo">-->
                                <h3><strong>HXROOT</strong></h3>
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="/">Home</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/about">About</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/services">Services</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/solutions">Solutions</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/contacts">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== PARALLAX ==========-->
        <div class="parallax-window" data-parallax="scroll" data-image-src="img/1920x1080/web4.jpg">
            <div class="parallax-content container">
                <h1 class="carousel-title">Web Security</h1>
            </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p="cont">It refers to securing websites, web apps and web services.Websites determine the online presence of an organization. With majority of people nowadays accessing web, its necessary that your company’s website stays up throughout the day and is safe to use.  A downed website is a failure to the trust building factor between company and its customers. Hence, it becomes a priority for your website to be properly developed and engineered.</p>

              <p="cont">Data breaches, Dos attacks, ransom wares and internet frauds are some of the common threats faces by websites these days. A breach to company’s website can largely affect the reputation. </p>

              <p="cont">Why are websites attacked?</p>

              <p="cont"> Attackers may attempt to overcome a website's defenses for commercial or political reasons that may be competitors or hacktivists. Attackers can also be criminal minded, and want to extort organizations by gaining valuable user information or threatening to deface the site. </p>

              <p="cont">Methods used by attackers  to hamper a website are:</p>

              <ul>
                <li>SQL Injection</li>
                <li>Cross-Site Scripting (XSS)</li>
                <li>Broken Authentication and Session Management</li>
                <li>Sensitive Data Exposure </li>
                <li>Security Misconfiguration</li>
                <li>Missing Function Level Access Control </li>
                <li>Using Components with Known Vulnerabilities</li>
                <li>Unvalidated Redirects and Forwards</li>
                <li>Cross-Site Request Forgery (CSRF) </li>
                <li>Insecure Direct Object References </li>
              </ul>
              <p="cont">The safety measures include:</p>

              <p="cont">We will analyze your network with our advanced tools and advanced manual methods.</p>

              <ul>
                <li>We will help your computer and network to secure your infrastructure.</li>
                <li>We will secure your routers, switches from a different type of attacks like DOS Attacks, Man in Middle Attacks, Packet Sniffing etc. </li>
                <li>Network security is done to get information about the integrity of an organization’s networks and associated systems. The testing includes network mapping, vulnerability scanning, password cracking, penetration testing, war dialing, war driving, file integrity checking and virus scanning.</li>
              </ul>
            </div>
            <div class="col-sm-6" id="img">
              <img src="img/640x380/web.jpg" alt="Home-img">
            </div>
            </div>
          </div>





        <!--========== FOOTER ==========-->
        <footer class="footer">
            <!-- Links -->
            <div class="footer-seperator">
                <div class="content-lg container">
                    <div class="row">
                        <div class="col-sm-2 sm-margin-b-50">
                            <!-- List -->
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a class="footer-list-link" href="/">Home</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="/about">About</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="/services">Services</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="/solutions">Solutions</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="/contacts">Contact</a></li>
                            </ul>
                            <!-- End List -->
                        </div>
                        <div class="col-sm-4 sm-margin-b-30">
                            <!-- List -->
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a class="footer-list-link" href="#">Twitter</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#">Facebook</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#">Instagram</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#">YouTube</a></li>
                            </ul>
                            <!-- End List -->
                        </div>
                        <div class="col-sm-5 sm-margin-b-30">
                            <h2 class="color-white">Send Us A Note</h2>
                            <input type="text" class="form-control footer-input margin-b-20" placeholder="Name" required>
                            <input type="email" class="form-control footer-input margin-b-20" placeholder="Email" required>
                            <input type="text" class="form-control footer-input margin-b-20" placeholder="Phone" required>
                            <textarea class="form-control footer-input margin-b-30" rows="6" placeholder="Message" required></textarea>
                            <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Submit</button>
                        </div>
                    </div>
                    <!--// end row -->
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                        <!--<img class="footer-logo" src="img/logo.png" alt="Asentus Logo">-->
                    </div>

                </div>
                <!--// end row -->
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- CORE PLUGINS -->
        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>

    </body>
    <!-- END BODY -->
</html>
